/*! One Click Accessibility 2 Fork v2.2.8 - 2026-09-12 */

@font-face {
    font-family: "OpenDyslexic";
    src: url('../fonts/OpenDyslexic-Regular.woff2') format('woff2');
}

#pojo-a11y-toolbar {
    position: fixed;
    font-size: 24px !important;
    line-height: 1.4;
    z-index: 9999;
}

#pojo-a11y-toolbar.pojo-a11y-toolbar-right {
    transition: right 750ms cubic-bezier(0.23, 1, 0.32, 1);
}

#pojo-a11y-toolbar.pojo-a11y-toolbar-right.pojo-a11y-toolbar-open {
    right: 0;
}

#pojo-a11y-toolbar.pojo-a11y-toolbar-left {
    transition: left 750ms cubic-bezier(0.23, 1, 0.32, 1);
}

#pojo-a11y-toolbar.pojo-a11y-toolbar-left.pojo-a11y-toolbar-open {
    left: 0;
}

#pojo-a11y-toolbar.pojo-a11y-toolbar-open .pojo-a11y-toolbar-toggle,
#pojo-a11y-toolbar.pojo-a11y-toolbar-open .pojo-a11y-toolbar-overlay {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle {
    font-size: 14px !important;
    position: absolute;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
    display: inline-block;
    font-size: 200%;
    line-height: 0;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a:hover,
#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay {
    border: 1px solid;
    font-size: 100%;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay p.pojo-a11y-toolbar-title {
    display: block;
    line-height: 2;
    font-weight: bold;
    padding: 10px 15px 0;
    margin: 0;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items.pojo-a11y-links {
    border-top: 1px solid;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a {
    display: block;
    padding: 10px 15px;
    font-size: 80%;
    line-height: 1;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a.active {
    font-weight: bold;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a svg {
    padding-right: 6px;
    display: inline-block;
    width: 1.5em;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    line-height: 1;
    text-align: center;
    text-rendering: auto;
    vertical-align: middle;
}

body.rtl #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a svg {
    padding-left: 6px;
    padding-right: 0;
}

/* ------------- */
/* Media Queries */
/* ------------- */

@media (max-width: 767px) {
    #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay p.pojo-a11y-toolbar-title {
        padding: 7px 12px 0;
    }
    
    #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items {
        padding: 7px 0;
    }
    
    #pojo-a11y-toolbar .pojo-a11y-toolbar-overlay ul.pojo-a11y-toolbar-items li.pojo-a11y-toolbar-item a {
        display: block;
        padding: 7px 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .pojo-a11y-hidden-desktop {
        display: inherit !important;
    }
    
    .pojo-a11y-visible-desktop {
        display: none !important ;
    }

    .pojo-a11y-visible-tablet {
        display: inherit !important;
    }
    
    .pojo-a11y-hidden-tablet {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .pojo-a11y-hidden-desktop {
        display: inherit !important;
    }

    .pojo-a11y-visible-desktop {
        display: none !important;
    }

    .pojo-a11y-visible-phone {
        display: inherit !important;
    }
    
    /* Use inherit to restore previous behavior */
    .pojo-a11y-hidden-phone {
    display: none !important;
    }
}

/* ----------------- */
/* Grayscale Queries */
/* ----------------- */

html.pojo-a11y-grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
}

/* ------------- */
/* High Contrast */
/* ------------- */

html.pojo-a11y-high-contrast {
    background: #000 !important;
/* This stylesheet based on 0WonB.css generated by Accessibility CSS Generator, (c) Silas S. Brown 2006-2015.  Version 0.9844 */
}

html.pojo-a11y-high-contrast .placebo {
    line-height: normal;
}

html.pojo-a11y-high-contrast * {
    box-shadow: none !important;
}

html.pojo-a11y-high-contrast a,
html.pojo-a11y-high-contrast abbr,
html.pojo-a11y-high-contrast acronym,
html.pojo-a11y-high-contrast address,
html.pojo-a11y-high-contrast article,
html.pojo-a11y-high-contrast aside,
html.pojo-a11y-high-contrast b,
html.pojo-a11y-high-contrast bdi,
html.pojo-a11y-high-contrast blockquote,
html.pojo-a11y-high-contrast body,
html.pojo-a11y-high-contrast button,
html.pojo-a11y-high-contrast canvas,
html.pojo-a11y-high-contrast caption,
html.pojo-a11y-high-contrast cite,
html.pojo-a11y-high-contrast code,
html.pojo-a11y-high-contrast col,
html.pojo-a11y-high-contrast colgroup,
html.pojo-a11y-high-contrast details,
html.pojo-a11y-high-contrast dfn,
html.pojo-a11y-high-contrast div,
html.pojo-a11y-high-contrast dl,
html.pojo-a11y-high-contrast dt,
html.pojo-a11y-high-contrast em,
html.pojo-a11y-high-contrast embed,
html.pojo-a11y-high-contrast fieldset,
html.pojo-a11y-high-contrast figcaption,
html.pojo-a11y-high-contrast figure,
html.pojo-a11y-high-contrast footer,
html.pojo-a11y-high-contrast form,
html.pojo-a11y-high-contrast h1,
html.pojo-a11y-high-contrast h2,
html.pojo-a11y-high-contrast h3,
html.pojo-a11y-high-contrast h4,
html.pojo-a11y-high-contrast h5,
html.pojo-a11y-high-contrast h6,
html.pojo-a11y-high-contrast header,
html.pojo-a11y-high-contrast hgroup,
html.pojo-a11y-high-contrast html,
html.pojo-a11y-high-contrast i,
html.pojo-a11y-high-contrast iframe,
html.pojo-a11y-high-contrast img,
html.pojo-a11y-high-contrast input,
html.pojo-a11y-high-contrast label,
html.pojo-a11y-high-contrast legend,
html.pojo-a11y-high-contrast li,
html.pojo-a11y-high-contrast main,
html.pojo-a11y-high-contrast menu,
html.pojo-a11y-high-contrast meter,
html.pojo-a11y-high-contrast multicol,
html.pojo-a11y-high-contrast nav:not(#pojo-a11y-toolbar),
html.pojo-a11y-high-contrast object,
html.pojo-a11y-high-contrast ol,
html.pojo-a11y-high-contrast option,
html.pojo-a11y-high-contrast output,
html.pojo-a11y-high-contrast p,
html.pojo-a11y-high-contrast pre,
html.pojo-a11y-high-contrast progress,
html.pojo-a11y-high-contrast q,
html.pojo-a11y-high-contrast rb,
html.pojo-a11y-high-contrast rp,
html.pojo-a11y-high-contrast rt,
html.pojo-a11y-high-contrast ruby,
html.pojo-a11y-high-contrast s,
html.pojo-a11y-high-contrast samp,
html.pojo-a11y-high-contrast section,
html.pojo-a11y-high-contrast select,
html.pojo-a11y-high-contrast span,
html.pojo-a11y-high-contrast strong,
html.pojo-a11y-high-contrast sub,
html.pojo-a11y-high-contrast summary,
html.pojo-a11y-high-contrast sup,
html.pojo-a11y-high-contrast svg,
html.pojo-a11y-high-contrast table,
html.pojo-a11y-high-contrast tbody,
html.pojo-a11y-high-contrast td,
html.pojo-a11y-high-contrast textarea,
html.pojo-a11y-high-contrast th,
html.pojo-a11y-high-contrast thead,
html.pojo-a11y-high-contrast time,
html.pojo-a11y-high-contrast tr,
html.pojo-a11y-high-contrast tt,
html.pojo-a11y-high-contrast u,
html.pojo-a11y-high-contrast ul,
html.pojo-a11y-high-contrast var,
html.pojo-a11y-high-contrast video {
    -moz-appearance: none !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    text-shadow: none !important;
    user-select: text !important;
    background: black !important;
    background-color: black !important;
    color: white !important;
}

/* Bold in Yellow */
html.pojo-a11y-high-contrast abbr,
html.pojo-a11y-high-contrast acronym,
html.pojo-a11y-high-contrast b,
html.pojo-a11y-high-contrast strong {
    color: yellow !important;
}

/* Italics, Underlines in a slightly different Yellow? */
html.pojo-a11y-high-contrast address,
html.pojo-a11y-high-contrast cite,
html.pojo-a11y-high-contrast dfn,
html.pojo-a11y-high-contrast em,
html.pojo-a11y-high-contrast i,
html.pojo-a11y-high-contrast u {
    color: #FFFF80 !important;
}

html.pojo-a11y-high-contrast dt {
  border-top: thin solid grey !important;
}

/* Links in Headings */
html.pojo-a11y-high-contrast h1,
html.pojo-a11y-high-contrast h2,
html.pojo-a11y-high-contrast h3,
html.pojo-a11y-high-contrast h4,
html.pojo-a11y-high-contrast h5,
html.pojo-a11y-high-contrast h6,
html.pojo-a11y-high-contrast h1 a,
html.pojo-a11y-high-contrast h2 a,
html.pojo-a11y-high-contrast h3 a,
html.pojo-a11y-high-contrast h4 a,
html.pojo-a11y-high-contrast h5 a,
html.pojo-a11y-high-contrast h6 a {
    color: #40C090 !important;
}

html.pojo-a11y-high-contrast img {
    background: #808080 !important;
    background-color: #808080 !important;
}

html.pojo-a11y-high-contrast abbr,
html.pojo-a11y-high-contrast acronym {
    border-bottom: 1px dotted !important;
}

html.pojo-a11y-high-contrast :focus {
    outline: thin dotted !important;
}

html.pojo-a11y-high-contrast a.button,
html.pojo-a11y-high-contrast a:link,
html.pojo-a11y-high-contrast div#secondaryNav div#documentNavigation ul.navigationTabs li.tabItem {
    color: #0080FF !important;
}

html.pojo-a11y-high-contrast button,
html.pojo-a11y-high-contrast input,
html.pojo-a11y-high-contrast textarea,
html.pojo-a11y-high-contrast select,
html.pojo-a11y-high-contrast table,
html.pojo-a11y-high-contrast td,
html.pojo-a11y-high-contrast th,
html.pojo-a11y-high-contrast tr,
html.pojo-a11y-high-contrast tt {
    border: 1px solid #ffffff !important;
}

html.pojo-a11y-high-contrast button,
html.pojo-a11y-high-contrast div[role="button"],
html.pojo-a11y-high-contrast input[type=button],
html.pojo-a11y-high-contrast input[type=submit] {
    background: #600040 !important;
    background-color: #600040 !important;
}

html.pojo-a11y-high-contrast select {
    -webkit-appearance: listbox !important;
    background: #600060 !important;
    background-color: #600060 !important;
}

html.pojo-a11y-high-contrast a:visited {
    color: #00FFFF !important;
}

html.pojo-a11y-high-contrast ::selection,
html.pojo-a11y-high-contrast ::-moz-selection {
    background: #4080c0 !important;
    background-color: #4080c0 !important;
}

html.pojo-a11y-high-contrast a.button:hover,
html.pojo-a11y-high-contrast a:link:hover,
html.pojo-a11y-high-contrast a:visited:hover {
    background: #400000 !important;
    background-color: #400000 !important;
}

html.pojo-a11y-high-contrast body > input#site + div#wrapper span.mk,
html.pojo-a11y-high-contrast body > input#site + div#wrapper span.mk b,
html.pojo-a11y-high-contrast input[type=reset] {
    background: #400060 !important;
    background-color: #400060 !important;
}

html.pojo-a11y-high-contrast input[type=search] {
    -webkit-appearance: textfield !important;
}

html.pojo-a11y-high-contrast button[disabled],
html.pojo-a11y-high-contrast input[disabled],
html.pojo-a11y-high-contrast select[disabled],
html.pojo-a11y-high-contrast textarea[disabled] {
    background: #404040 !important;
    background-color: #404040 !important;
}

html.pojo-a11y-high-contrast .menu li a span.label {
    text-transform: none !important;
}

html.pojo-a11y-high-contrast .menu li a span.label,
html.pojo-a11y-high-contrast div.jwplayer span.jwcontrolbar,
html.pojo-a11y-high-contrast div.jwplayer span.jwcontrols {
    display: inline !important;
}

/* pointless?
    html.pojo-a11y-high-contrast a:link.new,
    html.pojo-a11y-high-contrast a:link.new i,
    html.pojo-a11y-high-contrast a:link.new b,
    html.pojo-a11y-high-contrast span.Apple-style-span {
    color: #FFFF40 !important;
    }

    html.pojo-a11y-high-contrast body.mediawiki img.tex {
        background: white !important;
        background-color: white !important;
        border: white solid 3px !important;
    }
    html.pojo-a11y-high-contrast a > span.iconHelp:empty:after {
        content: "Help" !important;
    }
*/

html.pojo-a11y-high-contrast text > tspan:first-letter,
html.pojo-a11y-high-contrast text > tspan:first-line {
    background: inherit !important;
    background-color: inherit !important;
    color: inherit !important;
}

/* Google specific overrides?
html.pojo-a11y-high-contrast div.sbtc div.sbsb_a li.sbsb_d div,
html.pojo-a11y-high-contrast table.gssb_c tr.gssb_i a,
html.pojo-a11y-high-contrast table.gssb_c tr.gssb_i b,
html.pojo-a11y-high-contrast table.gssb_c tr.gssb_i span,
html.pojo-a11y-high-contrast table.gssb_c tr.gssb_i td {
    background: #003050 !important;
    background-color: #003050 !important;
}
*/

html.pojo-a11y-high-contrast body div#gmap,
html.pojo-a11y-high-contrast body div#gmap * {
    background: initial !important;
}


/* ----------------- */
/* Negative Contrast */
/* ----------------- */

html.pojo-a11y-negative-contrast {
    background: #000 !important;
}

html.pojo-a11y-negative-contrast .placebo {
    line-height: normal;
}

html.pojo-a11y-negative-contrast * {
    box-shadow: none !important;
}

html.pojo-a11y-negative-contrast a,
html.pojo-a11y-negative-contrast abbr,
html.pojo-a11y-negative-contrast acronym,
html.pojo-a11y-negative-contrast address,
html.pojo-a11y-negative-contrast article,
html.pojo-a11y-negative-contrast aside,
html.pojo-a11y-negative-contrast b,
html.pojo-a11y-negative-contrast bdi,
html.pojo-a11y-negative-contrast blockquote,
html.pojo-a11y-negative-contrast body,
html.pojo-a11y-negative-contrast button,
html.pojo-a11y-negative-contrast canvas,
html.pojo-a11y-negative-contrast caption,
html.pojo-a11y-negative-contrast cite,
html.pojo-a11y-negative-contrast code,
html.pojo-a11y-negative-contrast col,
html.pojo-a11y-negative-contrast colgroup,
html.pojo-a11y-negative-contrast dd,
html.pojo-a11y-negative-contrast details,
html.pojo-a11y-negative-contrast dfn,
html.pojo-a11y-negative-contrast div,
html.pojo-a11y-negative-contrast dl,
html.pojo-a11y-negative-contrast dt,
html.pojo-a11y-negative-contrast em,
html.pojo-a11y-negative-contrast embed,
html.pojo-a11y-negative-contrast fieldset,
html.pojo-a11y-negative-contrast figcaption,
html.pojo-a11y-negative-contrast figure,
html.pojo-a11y-negative-contrast footer,
html.pojo-a11y-negative-contrast form,
html.pojo-a11y-negative-contrast h1,
html.pojo-a11y-negative-contrast h2,
html.pojo-a11y-negative-contrast h3,
html.pojo-a11y-negative-contrast h4,
html.pojo-a11y-negative-contrast h5,
html.pojo-a11y-negative-contrast h6,
html.pojo-a11y-negative-contrast header,
html.pojo-a11y-negative-contrast hgroup,
html.pojo-a11y-negative-contrast html,
html.pojo-a11y-negative-contrast i,
html.pojo-a11y-negative-contrast iframe,
html.pojo-a11y-negative-contrast img,
html.pojo-a11y-negative-contrast input,
html.pojo-a11y-negative-contrast label,
html.pojo-a11y-negative-contrast legend,
html.pojo-a11y-negative-contrast li,
html.pojo-a11y-negative-contrast main,
html.pojo-a11y-negative-contrast menu,
html.pojo-a11y-negative-contrast meter,
html.pojo-a11y-negative-contrast multicol,
html.pojo-a11y-negative-contrast nav:not(#pojo-a11y-toolbar),
html.pojo-a11y-negative-contrast object,
html.pojo-a11y-negative-contrast ol,
html.pojo-a11y-negative-contrast option,
html.pojo-a11y-negative-contrast output,
html.pojo-a11y-negative-contrast p,
html.pojo-a11y-negative-contrast pre,
html.pojo-a11y-negative-contrast progress,
html.pojo-a11y-negative-contrast q,
html.pojo-a11y-negative-contrast rb,
html.pojo-a11y-negative-contrast rp,
html.pojo-a11y-negative-contrast rt,
html.pojo-a11y-negative-contrast ruby,
html.pojo-a11y-negative-contrast s,
html.pojo-a11y-negative-contrast samp,
html.pojo-a11y-negative-contrast section,
html.pojo-a11y-negative-contrast select,
html.pojo-a11y-negative-contrast span,
html.pojo-a11y-negative-contrast strike,
html.pojo-a11y-negative-contrast strong,
html.pojo-a11y-negative-contrast sub,
html.pojo-a11y-negative-contrast summary,
html.pojo-a11y-negative-contrast sup,
html.pojo-a11y-negative-contrast svg,
html.pojo-a11y-negative-contrast table,
html.pojo-a11y-negative-contrast tbody,
html.pojo-a11y-negative-contrast td,
html.pojo-a11y-negative-contrast textarea,
html.pojo-a11y-negative-contrast th,
html.pojo-a11y-negative-contrast thead,
html.pojo-a11y-negative-contrast time,
html.pojo-a11y-negative-contrast tr,
html.pojo-a11y-negative-contrast tt,
html.pojo-a11y-negative-contrast u,
html.pojo-a11y-negative-contrast ul,
html.pojo-a11y-negative-contrast var,
html.pojo-a11y-negative-contrast video {
    -moz-appearance: none !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    text-shadow: none !important;
    user-select: text !important;
    background: black !important;
    background-color: black !important;
    color: #ffffff !important;
}

html.pojo-a11y-negative-contrast a,
html.pojo-a11y-negative-contrast abbr,
html.pojo-a11y-negative-contrast acronym,
html.pojo-a11y-negative-contrast b,
html.pojo-a11y-negative-contrast h1,
html.pojo-a11y-negative-contrast h2,
html.pojo-a11y-negative-contrast h3,
html.pojo-a11y-negative-contrast h4,
html.pojo-a11y-negative-contrast h5,
html.pojo-a11y-negative-contrast h6 {
    color: yellow !important;
}

html.pojo-a11y-negative-contrast address,
html.pojo-a11y-negative-contrast cite,
html.pojo-a11y-negative-contrast dfn,
html.pojo-a11y-negative-contrast em,
html.pojo-a11y-negative-contrast h1 em,
html.pojo-a11y-negative-contrast h1 i,
html.pojo-a11y-negative-contrast h2 em,
html.pojo-a11y-negative-contrast h2 i,
html.pojo-a11y-negative-contrast h3 em,
html.pojo-a11y-negative-contrast h3 i,
html.pojo-a11y-negative-contrast h4 em,
html.pojo-a11y-negative-contrast h4 i,
html.pojo-a11y-negative-contrast h5 em,
html.pojo-a11y-negative-contrast h5 i,
html.pojo-a11y-negative-contrast h6 em,
html.pojo-a11y-negative-contrast h6 i,
html.pojo-a11y-negative-contrast i,
html.pojo-a11y-negative-contrast u {
    color: #FFFF80 !important;
}

html.pojo-a11y-negative-contrast abbr,
html.pojo-a11y-negative-contrast acronym {
    border-bottom: 1px dotted !important;
}
html.pojo-a11y-negative-contrast :focus {
    outline: thin dotted !important;
}
html.pojo-a11y-negative-contrast button,
html.pojo-a11y-negative-contrast input,
html.pojo-a11y-negative-contrast textarea,
html.pojo-a11y-negative-contrast select,
html.pojo-a11y-negative-contrast table,
html.pojo-a11y-negative-contrast td,
html.pojo-a11y-negative-contrast th,
html.pojo-a11y-negative-contrast tr,
html.pojo-a11y-negative-contrast tt,
html.pojo-a11y-negative-contrast dt {
    border: 1px solid #ffffff !important;
}

html.pojo-a11y-negative-contrast a > span.iconHelp:empty:after {
    content: "Help" !important;
}

html.pojo-a11y-negative-contrast div#gmap,
html.pojo-a11y-negative-contrast div#gmap * {
    background: initial !important;
}

/* ---------------- */
/* Light Background */
/* ---------------- */

html.pojo-a11y-light-background,
html.pojo-a11y-light-background *:not(#pojo-a11y-toolbar):not(.pojo-a11y-toolbar-link) {
    background: #fff !important;
    color: #000 !important;
}

html.pojo-a11y-light-background div#gmap,
html.pojo-a11y-light-background div#gmap * {
    background: initial !important;
}

/* ------------ */
/* Resize Fonts */
/* ------------ */

/* Resize Font: 200 */
body.pojo-a11y-resize-font-200 {
  font-size: 2em !important;
}
body.pojo-a11y-resize-font-200 *,
body.pojo-a11y-resize-font-200 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}

body.pojo-a11y-resize-font-200 h1,
body.pojo-a11y-resize-font-200 h2,
body.pojo-a11y-resize-font-200 h3,
body.pojo-a11y-resize-font-200 h4,
body.pojo-a11y-resize-font-200 h5,
body.pojo-a11y-resize-font-200 h6 {
    font-size: 2em;
}

/* Resize Font: 190 */
body.pojo-a11y-resize-font-190 {
    font-size: 1.9em !important;
}

body.pojo-a11y-resize-font-190 *,
body.pojo-a11y-resize-font-190 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}
body.pojo-a11y-resize-font-190 h1,
body.pojo-a11y-resize-font-190 h2,
body.pojo-a11y-resize-font-190 h3,
body.pojo-a11y-resize-font-190 h4,
body.pojo-a11y-resize-font-190 h5,
body.pojo-a11y-resize-font-190 h6 {
    font-size: 2em;
}

/* Resize Font: 180 */
body.pojo-a11y-resize-font-180 {
    font-size: 1.8em !important;
}

body.pojo-a11y-resize-font-180 *,
body.pojo-a11y-resize-font-180 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}
body.pojo-a11y-resize-font-180 h1,
body.pojo-a11y-resize-font-180 h2,
body.pojo-a11y-resize-font-180 h3,
body.pojo-a11y-resize-font-180 h4,
body.pojo-a11y-resize-font-180 h5,
body.pojo-a11y-resize-font-180 h6 {
    font-size: 2em;
}

/* Resize Font: 170 */
body.pojo-a11y-resize-font-170 {
    font-size: 1.7em !important;
}

body.pojo-a11y-resize-font-170 *,
body.pojo-a11y-resize-font-170 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}

body.pojo-a11y-resize-font-170 h1,
body.pojo-a11y-resize-font-170 h2,
body.pojo-a11y-resize-font-170 h3,
body.pojo-a11y-resize-font-170 h4,
body.pojo-a11y-resize-font-170 h5,
body.pojo-a11y-resize-font-170 h6 {
    font-size: 2em;
}
/* Resize Font: 160 */
body.pojo-a11y-resize-font-160 {
    font-size: 1.6em !important;
}

body.pojo-a11y-resize-font-160 *,
body.pojo-a11y-resize-font-160 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}
body.pojo-a11y-resize-font-160 h1,
body.pojo-a11y-resize-font-160 h2,
body.pojo-a11y-resize-font-160 h3,
body.pojo-a11y-resize-font-160 h4,
body.pojo-a11y-resize-font-160 h5,
body.pojo-a11y-resize-font-160 h6 {
    font-size: 2em;
}

/* Resize Font: 150 */
body.pojo-a11y-resize-font-150 {
    font-size: 1.5em !important;
}

body.pojo-a11y-resize-font-150 *,
body.pojo-a11y-resize-font-150 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}

body.pojo-a11y-resize-font-150 h1,
body.pojo-a11y-resize-font-150 h2,
body.pojo-a11y-resize-font-150 h3,
body.pojo-a11y-resize-font-150 h4,
body.pojo-a11y-resize-font-150 h5,
body.pojo-a11y-resize-font-150 h6 {
    font-size: 2em;
}

/* Resize Font: 140 */
body.pojo-a11y-resize-font-140 {
    font-size: 1.4em !important;
}

body.pojo-a11y-resize-font-140 *,
body.pojo-a11y-resize-font-140 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}

body.pojo-a11y-resize-font-140 h1,
body.pojo-a11y-resize-font-140 h2,
body.pojo-a11y-resize-font-140 h3,
body.pojo-a11y-resize-font-140 h4,
body.pojo-a11y-resize-font-140 h5,
body.pojo-a11y-resize-font-140 h6 {
    font-size: 2em;
}

/* Resize Font: 130 */
body.pojo-a11y-resize-font-130{
    font-size: 1.3em !important;
}

body.pojo-a11y-resize-font-130 *,
body.pojo-a11y-resize-font-130 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}

body.pojo-a11y-resize-font-130 h1,
body.pojo-a11y-resize-font-130 h2,
body.pojo-a11y-resize-font-130 h3,
body.pojo-a11y-resize-font-130 h4,
body.pojo-a11y-resize-font-130 h5,
body.pojo-a11y-resize-font-130 h6 {
    font-size: 2em;
}

/* Resize Font: 120 */
body.pojo-a11y-resize-font-120 {
    font-size: 1.2em !important;
}

body.pojo-a11y-resize-font-120 *,
body.pojo-a11y-resize-font-120 *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1em;
}

body.pojo-a11y-resize-font-120 h1,
body.pojo-a11y-resize-font-120 h2,
body.pojo-a11y-resize-font-120 h3,
body.pojo-a11y-resize-font-120 h4,
body.pojo-a11y-resize-font-120 h5,
body.pojo-a11y-resize-font-120 h6 {
    font-size: 2em;
}

/* --------------- */
/* Underline Links */
/* --------------- */

body.pojo-a11y-links-underline a,
body.pojo-a11y-links-underline a * {
    -webkit-text-decoration: underline !important;
    text-decoration: underline !important;
}

/* ------------------------------------------ */
/* Readable Font (Replaced with OpenDyslexic) */
/* ------------------------------------------ */

body.pojo-a11y-readable-font,
body.pojo-a11y-readable-font *:not(i):not(span) {
    font-family: "OpenDyslexic", Verdana, Arial, Helvetica, sans-serif !important;
}

/* --------- */
/* Skip Link */
/* --------- */

.pojo-skip-link {
    position: absolute;
    top: -1000em;
}
.pojo-skip-link:focus {
    left: 50px;
    top: 50px;
    height: auto;
    width: 200px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 15px 23px 14px;
    background-color: #F1F1F1;
    color: #21759B;
    z-index: 100000;
    line-height: normal;
    -webkit-text-decoration: none;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

body.rtl .pojo-skip-link:focus {
    right: 50px;
    left: auto;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.pojo-a11y-visible-phone {
    display: none !important;
}

.pojo-a11y-visible-tablet {
    display: none !important;
}

.pojo-a11y-hidden-desktop {
    display: none !important;
}

.pojo-a11y-visible-desktop {
  display: inherit !important;
}

.pojo-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
